@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model System.Collections.Generic.IEnumerable<KobenStaffDirectoryRKing.ViewModels.StaffDetailViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Staff Directory</h2>
<form name="staffListing">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 col-md-6">
                @Html.DisplayFor(modelItem => item.FirstName)

                @Html.DisplayFor(modelItem => item.LastName)

                @Html.DisplayFor(modelItem => item.Title)

                @Html.DisplayFor(modelItem => item.Phone)
                 
                
                <img src="@item.PhotoUrl" id="staffPhoto"/>

                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                
            </div>
        }
        </ div >
</form>